/* header */

header {
  background-color: #84c1ff;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header .logo {
  max-height: 100%;
  width: 20%;
  margin: 10px 20px;
  color: white;
}

header .logo img {
  height: 90%;
  width: 50%;
  filter: invert(1);
}

header .welcome-header {
  width: 60%;
  align-self: center;
  margin: 0 auto;
  text-align: center;
  color: white;
}

header .logout {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header .logout form{
  align-self: center;
}

header .logout form button {
  margin: auto;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background: #d6eaff;
}
header .logout form button:hover {
  background: #eaf4ff;
}

/* main */
.main-site{
  height: 90%;
  display: flex;
}

.chat-container{
  height: 85%;
  width: 90%;
  margin: auto;
  /* background-color: #84c1ff; */
  border: 2px solid #84c1ff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* lista */
.chat-container .group-list{
  height: 7%;
  width: 100%;
  background-color:  #84c1ff;
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: center;
}

.chat-container .group-list ul {
  padding: 0;
  margin: 0;
  align-self: center;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.chat-container .group-list ul li{
  height: 100%;
  align-self: center;
  display: flex;
}

.chat-container .group-list .arg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  background: #d6eaff;
  font-size: 20px;
  max-width: 100px;
  max-height: 40px;
  padding: 5px;
  margin: 0 4px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid grey;
  text-align: center;
}
.chat-container .group-list .arg p{
  align-self: center;
  margin: 0;
  padding: 0 3px 3px 3px;
}
.chat-container .group-list .arg:hover,
.chat-container .group-list .arg.active{
  background-color: #f8fbff;
}
.chat-container .block-container {
  height: 93%;
  width: 100%;
  background-color:  #eaf4ff ;
  border-radius: 0 0 25px 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.chat-container .block-container .arg-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.chat-container .block-container ._add {
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

#err {
  color: red;
  text-align: center;
  margin: 0;
}
.chat-container .block-container .form-group{
  height: 50%;
  width: 50%;
  align-self: center;
  margin: auto;

}
.chat-container .block-container .form-group .form{
  height: 50%;
  display: flex;
  flex-direction:column;
  align-self: center;
  margin: 70px auto;
}
.chat-container .block-container .form-group .form{
  height: 50%;
  display: flex;
  flex-direction:column;
  align-self: center;
  margin: 70px auto;
}
.btn{
  width: 40%;
  margin: 10px auto;
  color: white;
  background-color: #84c1ff;
}

.btn:hover{
  background-color: #d6eaff;
}

#new-group{
  text-align: center;
  border-radius: 10px;
  opacity: 0.8;
}

/* chat */

.block-container .arg-container .chat-wrapper{
  background-color: #d6eaff;
  height: 94%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* list users */
.block-container .arg-container .chat-wrapper .list-users{
  background-color: #84c1ff;
  height: 100%;
  width: 20%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
}
.block-container .arg-container .chat-wrapper .list-users .group-info{
  text-align: center;
  color: white;
  font-size: 25px;
}

.list-users .group-info h1{
  font-size: 25px;
  margin: 10px 0;
}
.block-container .arg-container .chat-wrapper .list-users .group-info p{
  width: 90%;
  margin: 10px auto;
  color: black;
  background-color: #eaf4ff;
  font-size: 20px;
}

.block-container .arg-container .chat-wrapper .list-users .users-on{
  text-align: center;
  color: white;
  font-size: 25px;
}

.list-users .users-on h1 {
  font-size: 25px;
  margin: 10px 0;
}

.list-users .users-on ul {
  padding: 2px 0;
  margin: 0 auto;
  width: 90%;
  color: black;
  background-color: #eaf4ff;
}
.list-users .users-on li {
  margin: 20px 5px;
  text-align: left;
  font-size: 18px;
  color: black;
}
.list-users .users-on ul li .on{
  color: green;
}
.list-users .users-on ul li .type{
  color: #84c1ff;
}

/* chat msgs */

.chat-wrapper .chat {
  align-self: center;
  height: 98%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #d6eaff;
  overflow: auto;
}

.chat-wrapper .chat .chat-msg {
  background-color: #add6ff;
  min-width: 30%;
  max-width: 40%;
  margin: 10px 0 10px 20px;
  padding: 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.chat-wrapper .chat .chat-msg .chat-msg-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.chat-wrapper .chat .chat-msg .chat-msg-header h1{
  font-size: 25px;
  background-color: #eaf4ff;
  padding: 0 10px;
  border-radius: 5px;
}
.chat-wrapper .chat .chat-msg .chat-msg-header h1, h6{
  align-self: center;
}
.chat-wrapper .chat .chat-msg .chat-msg-body p{
  font-size: 20px;
  padding: 0 10px;
}
.chat-wrapper .chat .chat-msg-info{
  max-width: 70%;
  align-self: center;
  background-color: #eaf4ff;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}
.chat-wrapper .chat .chat-msg-info p{
  margin: 0;
  font-size: 18px;
}

.chat-wrapper .chat .chat-msg.user {
  align-self: flex-end;
  max-width: 40%;
  margin: 20px 20px 10px 0;
}
/* input msgs */
.block-container .arg-container .send-msg{
  /* background-color: yellow; */
  height: 6%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.block-container .arg-container .send-msg .form-msg{
  /* background-color: orange; */
  height: 90%;
  width: 95%;
  align-self: center;
  display: flex;
}
.block-container .arg-container .send-msg .form-msg .msg-text{
  height: 85%;
  width: 90%;
  background-color: inherit;
  border: 1px solid lightgrey;
  margin: 2px 0 0 0;
}
.block-container .arg-container .send-msg .form-msg .msg-btn{
  height: 90%;
  width: 10%;
  margin: 1px 0 0 5px;
  padding: 0;
}

/* display none */
.block-container .arg-container:not(.active){
  display: none;
}

@media screen and (max-width: 900px){

  header .logo{
    width: 15%;
  }
  header .logo img{
    width: 70%;
    margin-right: 2px;
  }
  header .welcome-header h1{
    font-size: 20px;
  }

  header .logout{
    justify-content: flex-start;
  }
  header .logout form{
    height: 50%;
    width: 50%;
    align-self: center;
  }
  .chat-container{
    height: 100%;
    width: 100%;
    margin: auto;
    border-radius: 0px;
  }

  /* lista */
  .chat-container .group-list{
    height: 8%;
    width: 100%;
    border-radius: 0;
  }

  .chat-container .group-list ul {
    max-width: 90%;
  }
  .chat-container .block-container {
    height: 92%;
    border-radius: 0;
  }

  .chat-container .block-container .arg-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .chat-container .block-container ._add {
    height: 100%;
    width: 100%;
  }

  .chat-container .block-container .form-group{
    width: 80%;
  }

  /* chat */

  .block-container .arg-container .chat-wrapper{
    background-color: #d6eaff;
    height: 94%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  /* list users */
  .block-container .arg-container .chat-wrapper .list-users{
    height: 100%;
    width: 25%;
    max-width: 350px;
  }
  .block-container .arg-container .chat-wrapper .list-users .group-info h1{
    text-align: center;
    color: white;
    font-size: 20px;
  }

  .block-container .arg-container .chat-wrapper .list-users .group-info p{
    font-size: 15px;
  }

  .list-users .users-on h1 {
    font-size: 20px;
  }

  .list-users .users-on li {
    font-size: 15px;
  }

  /* chat msgs */

  .chat-wrapper .chat {
    width: 75%;
  }

  .chat-wrapper .chat .chat-msg {
    background-color: #add6ff;
    min-width: 90%;
    max-width: 90%;
    margin: 10px 5px;
  }
  .chat-wrapper .chat .chat-msg .chat-msg-header h1{
    font-size: 20px;
  }
  .chat-wrapper .chat .chat-msg .chat-msg-body p{
    font-size: 17px;
  }

  /* input msgs */
  .block-container .arg-container .send-msg .form-msg .msg-btn{
    height: 90%;
    width: 15%;
    margin: 1px 0 0 5px;
    padding: 0;
  }

  /* display none */
  .block-container .arg-container:not(.active){
    display: none;
  }
}
